html
{
    height:100%;
}

header 
{
    border: 1px solid black;
}

header h1
{
    text-align: center;
    font-size: 50px;
}

nav
{
    border: 1px solid black;
    margin:10;
    padding: 10px 10px;
}
    
nav > a
{
    border: 1px solid black;
    list-style-type:none;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.tarjetaJuego
{
    background-color: red;
    border: 1px solid black;
    height: 300px;
    width: 250px;
    margin: 70px 80px;
    padding: 10px;
    display: inline-block;
}

#tituloPagJuegos
{
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
}

footer
{
    clear:both;
    border: 1px solid black;
    padding: 10px 10px;
    text-align: center;
}