@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body
{
    background: linear-gradient(#05299e,#5e4ae3);
}

*{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   /* text-shadow: 2px 2px 2px black;*/
}

header 
{
    height: 440px;
}

header h1
{
    text-align: center;
    font-size: 50px;
}

nav
{
    margin: 5px auto;
    padding: 25px 0px;
    background-color: #b118c83f;
}
    
nav a
{
    border: 1px solid hotpink;
    padding: 25px 55px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px auto;
}

nav a:hover
{
    background-color: hotpink;
    transition: all 0.5s; /*para que tenga como un retardo*/
}

.contenedor
{
    /*fondo transparente*/
    background-color: rgba(0,0,0,0);
}

.tarjeta
{
    /*background-color: red;*/
    border: 1px solid hotpink;
    height: 300px;
    width: 250px;
    margin: 70px 90px;
    display: inline-block;
}

.tituloSeccion
{
    text-align: center;
    font-size: 40px;
    border: 1px solid cornsilk;
    margin: 50px 50px;
    padding: 20px;
    border-radius: 40px 40px;
    background-color: #b118c83f;
}

footer
{
    clear:both;
    border: 1px solid black;
    padding: 10px 0px;
    margin: 10px 0px;
    text-align: center;
}

.imgTarjeta
{
    height: 300px;
    width: 250px;
}

#imgHeader
{
    height: 443px;
    max-width: 100%;
}

#formulario
{
    background: linear-gradient(#7209b7, #3f37c0);
    border: 1px solid hotpink;
    margin: 50px auto;
    padding: 20px;
    height: 450px;
    width: 510px;
}

.cajaInput
{
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    padding: 10px;
}

.cajaInput input
{
    width: 420px;
    height: 25px;
    border: none;
    border-bottom: 2px solid hotpink;
    background: transparent;
}

.cajaInput textarea
{
    resize: none;
    border: none;
    border-bottom: 2px solid hotpink;
    background: transparent;
}

.cajaInput input[type="submit"]
{
    width: 425px;
    height: 55px;
    border: none;
    font-size: 20px;
    letter-spacing: 4px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    cursor:pointer;
    background-color: #f72585;
}

.cajaInput input[type="submit"]:hover
{
    border: 1px solid white;
}

#contenedorAbout
{
    border: 1px solid black;
    height: 900px;
}

#tarjetaAbout
{
    margin: 40px;
    height: 400px;
    width: 370px;
    position: relative;
    top: 150px;
}

#imagen_archer
{
    height: 400px;
    width: 370px;
}

#tarjetaFont
{
    border: none;
    position: relative;
    bottom: 320px;
    right: 50px;
    height: 100px;
    width: 350px;
}

.fuente_player2
{
    font-family: "Press Start 2P", cursive;
    font-size: 70px;
    text-align: center;
}
